@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeff1;
  max-width: 1400px;
  margin: 0 auto;
}

/* Header  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  flex-shrink: 0;
}

.links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.links i {
  padding-right: 10px;
}

.email {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* hero-section */

.hero {
  display: flex;
  padding: 5% 5%;
  justify-content: space-between;
}

.hero-left {
  padding-top: 50px;
}

.hero-left h1 {
  padding-bottom: 20px;
}

.hero-left p {
  max-width: 700px;
}

.scrolling-links {
  padding-top: 20px;
}

.scrolling-links a {
  text-decoration: none;
  margin-right: 15px;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 3px 5px;
  transition: 0.5s;
}

.scrolling-links a:hover {
  border: 1px solid black;
  color: black;
}

.scrolling-links i {
  padding-right: 8px;
}

.hero-right img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* skills-section */
#skills {
  text-align: center;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.skill-icons img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.skill-icons p {
  display: flex;
  margin: 0;
  align-items: center;
  border: 1.5px solid black;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.skill-icons p:hover {
  border-color: blue;
  color: blue;
}

/* Testimonials */
#testimonials {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 2% 5%;
}

#testimonials h1 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testi-left {
  text-align: center;
}

.testi-left img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.testi-left h2 {
  font-weight: 500;
  font-size: 18px;
}

.testi-right p {
  max-width: 700px;
}

/* Contact */
#contact {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 2% 5%;
}
#contact h2 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 25px;
}

.container-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-right {
  flex: 1;
}

.container-contact p {
  max-width: 550px;
}

.contact-right {
  max-width: 450px;
}

.contact-right input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-right textarea {
  height: 100px;
}

.contact-right .message {
  display: block;
  text-align: center;
  background-color: #4287f5;
  border: none;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.contact-right .message:hover {
  background-color: black;
}

/* media-query */

@media (max-width: 700px) {
  /* header */
  .logo {
    font-size: 15px;
  }
  .email {
    padding: 0;
    background-color: #eeeff1;
    color: black;
  }

  .links {
    gap: 10px;
  }

  .links span {
    display: none;
    padding-right: 5px;
  }

  /* hero-section */

  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }

  .hero-left {
    padding-top: 25px;
  }

  .hero-left h1 {
    font-size: 20px;
  }

  .hero-right img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .scrolling-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .scrolling-links a {
    margin: 0;
  }

  /* skilss-section */

  #skills {
    margin-top: 25px;
  }

  .skill-icons {
    flex-wrap: wrap;
  }

  /* Testimonials */

  .container {
    display: flex;
    flex-direction: column;
  }

  .testi-right p {
    text-align: center;
  }

  .testi-left h2 {
    padding-bottom: 20px;
  }

  .testi-left img {
    height: 200px;
    width: 200px;
  }

  /* Contact  */
  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contact-left h3 {
    display: none;
  }

  .contact-left p {
    text-align: center;
  }

  .contact-right {
    max-width: 550px;
    width: 100%;
  }
}
